workflows/01_mee-scraper.json
{"updatedAt":"2026-05-10T19:49:56.032Z","createdAt":"2026-05-05T11:38:35.150Z","id":"MDC99Mk4Hd0oGWZp","name":"GE — Google Maps Scraper (Generic)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"scrape-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"parameters":{"path":"mee-scrape","responseMode":"lastNode","httpMethod":"POST","options":{}},"webhookId":"01288dbb-20b3-4a15-b7ce-6a3be501c052"},{"id":"scrape-run-start","name":"Start Scrape Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,304],"continueOnFail":true,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scrape_runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({queries: ($json.body && $json.body.queries) || [($json.body && $json.body.query) || ''], lat: ($json.body && $json.body.lat) || null, lng: ($json.body && $json.body.lng) || null, zoom: ($json.body && $json.body.zoom) || 12, country_code: ($json.body && $json.body.countryCode) || 'us', language: ($json.body && $json.body.language) || 'en', results_per_query: ($json.body && $json.body.resultsPerQuery) || 20, status: 'running'}) }}","options":{"timeout":10000}}},{"id":"scrape-3","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304],"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || webhookData;\nconst runRow = $('Start Scrape Run').first().json;\nconst runId = Array.isArray(runRow) ? (runRow[0] && runRow[0].id) : (runRow && runRow.id);\n\nconst defaults = { queries: [], query: '', lat: null, lng: null, zoom: 12, countryCode: 'us', language: 'en', resultsPerQuery: 20 };\nconst params = Object.assign({}, defaults);\nfor (const k in defaults) { if (body[k] !== undefined && body[k] !== null && body[k] !== '') params[k] = body[k]; }\n\nlet queries = [];\nif (Array.isArray(params.queries) && params.queries.length > 0) {\n  queries = params.queries.filter(q => typeof q === 'string' && q.trim()).map(q => q.trim());\n} else if (typeof params.query === 'string' && params.query.trim()) {\n  queries = [params.query.trim()];\n}\n\nconst errors = [];\nif (queries.length === 0) errors.push('queries (array) or query (string) is required');\nif (params.lat === null || isNaN(Number(params.lat))) errors.push('lat must be a number');\nif (params.lng === null || isNaN(Number(params.lng))) errors.push('lng must be a number');\nif (errors.length > 0) throw new Error('Validation failed: ' + errors.join(', '));\n\nreturn queries.map(q => ({ json: { query: q, lat: Number(params.lat), lng: Number(params.lng), zoom: Number(params.zoom) || 12, countryCode: String(params.countryCode || 'us').toLowerCase(), language: String(params.language || 'en').toLowerCase(), resultsPerQuery: Math.min(Math.max(Number(params.resultsPerQuery) || 20, 1), 100), runId: runId || null } }));"}},{"id":"scrape-4","name":"Search Google Maps (SerpAPI)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"url":"={{ 'https://serpapi.com/search.json?engine=google_maps&q=' + encodeURIComponent($json.query) + '&ll=@' + $json.lat + ',' + $json.lng + ',' + $json.zoom + 'z&type=search&hl=' + $json.language + '&gl=' + $json.countryCode + '&api_key=YOUR_SERPAPI_KEY' }}","options":{"timeout":30000,"batching":{"batch":{"batchSize":1,"batchInterval":500}}}}},{"id":"scrape-5","name":"Parse & Format Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,304],"parameters":{"jsCode":"const allInputs = $input.all();\nconst seenPlaceIds = new Set();\nconst results = [];\n\nfunction parseAddress(addr) {\n  if (!addr) return { city: '', state: '', zip: '' };\n  const parts = addr.split(',').map(s => s.trim());\n  const lastPart = parts[parts.length - 1] || '';\n  const usMatch = lastPart.match(/^([A-Z]{2})\\s+(\\d{5})$/);\n  if (usMatch) return { city: parts.length >= 2 ? parts[parts.length - 2] : '', state: usMatch[1], zip: usMatch[2] };\n  const inMatch = lastPart.match(/^(.+?)\\s+(\\d{6})$/);\n  if (inMatch) return { city: parts.length >= 2 ? parts[parts.length - 2] : inMatch[1], state: inMatch[1].length < 30 ? inMatch[1] : '', zip: inMatch[2] };\n  return { city: parts.length >= 2 ? parts[parts.length - 2] : (parts[0] || ''), state: '', zip: '' };\n}\n\nfor (const item of allInputs) {\n  const places = (item.json && item.json.local_results) || [];\n  for (const place of places) {\n    if (!place.title) continue;\n    const pid = place.place_id || place.data_id || '';\n    if (pid && seenPlaceIds.has(pid)) continue;\n    if (pid) seenPlaceIds.add(pid);\n    const { city, state, zip } = parseAddress(place.address);\n    const lat = place.gps_coordinates ? place.gps_coordinates.latitude : null;\n    const lng = place.gps_coordinates ? place.gps_coordinates.longitude : null;\n    results.push({ json: {\n      place_id: pid,\n      business_name: place.title || '',\n      category: place.type || (Array.isArray(place.types) ? place.types[0] : '') || '',\n      full_address: place.address || '',\n      city, state, zip,\n      phone: place.phone || '',\n      website: place.website || '',\n      google_rating: place.rating || null,\n      review_count: place.reviews || 0,\n      maps_description: place.description || '',\n      opening_hours: place.hours || '',\n      google_maps_url: pid ? ('https://www.google.com/maps/place/?q=place_id:' + pid) : '',\n      latitude: lat, longitude: lng,\n      source_query: item.json.query,\n      source_lat: item.json.lat,\n      source_lng: item.json.lng,\n      source_country_code: item.json.countryCode,\n      source_language: item.json.language\n    }});\n  }\n}\n\nreturn results;"}},{"id":"scrape-agg","name":"Aggregate Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,304],"parameters":{"jsCode":"const allItems = $input.all();\nconst leads = allItems.map(i => i.json);\nconst runId = $('Validate Input').first() ? $('Validate Input').first().json.runId : null;\nreturn [{ json: { leads, count: leads.length, runId } }];"}},{"id":"scrape-6","name":"Write Leads to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.leads) }}","options":{"timeout":30000}}},{"id":"scrape-run-end","name":"Complete Scrape Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,304],"continueOnFail":true,"parameters":{"method":"PATCH","url":"={{ 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scrape_runs?id=eq.' + $('Aggregate Leads').first().json.runId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status: 'success', leads_found: $('Aggregate Leads').first().json.count, completed_at: new Date().toISOString()}) }}","options":{"timeout":10000}}},{"id":"scrape-7","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,304],"parameters":{"jsCode":"const agg = $('Aggregate Leads').first().json;\nconst validated = $('Validate Input').all();\nreturn [{ json: { success: true, queriesRun: validated.length, queries: validated.map(v => v.json.query), leadsFound: agg.count, runId: agg.runId, countryCode: validated[0] ? validated[0].json.countryCode : null, timestamp: new Date().toISOString() } }];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Start Scrape Run","type":"main","index":0}]]},"Start Scrape Run":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Search Google Maps (SerpAPI)","type":"main","index":0}]]},"Search Google Maps (SerpAPI)":{"main":[[{"node":"Parse & Format Results","type":"main","index":0}]]},"Parse & Format Results":{"main":[[{"node":"Aggregate Leads","type":"main","index":0}]]},"Aggregate Leads":{"main":[[{"node":"Write Leads to Supabase","type":"main","index":0}]]},"Write Leads to Supabase":{"main":[[{"node":"Complete Scrape Run","type":"main","index":0}]]},"Complete Scrape Run":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d72b986c-6769-4c43-af64-d23aec437098","activeVersionId":"d72b986c-6769-4c43-af64-d23aec437098","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-05-05T11:38:35.161Z","createdAt":"2026-05-05T11:38:35.161Z","role":"workflow:owner","workflowId":"MDC99Mk4Hd0oGWZp","projectId":"6T2z9zDYCsuzyhA3","project":{"updatedAt":"2026-04-06T11:29:59.910Z","createdAt":"2026-04-06T11:27:47.569Z","id":"6T2z9zDYCsuzyhA3","name":"Samarth Kumar <samarth.kumar@oyelabs.com>","type":"personal","icon":null,"description":null,"creatorId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-10T19:49:56.033Z","createdAt":"2026-05-10T19:49:56.033Z","versionId":"d72b986c-6769-4c43-af64-d23aec437098","workflowId":"MDC99Mk4Hd0oGWZp","nodes":[{"id":"scrape-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"parameters":{"path":"mee-scrape","responseMode":"lastNode","httpMethod":"POST","options":{}},"webhookId":"01288dbb-20b3-4a15-b7ce-6a3be501c052"},{"id":"scrape-run-start","name":"Start Scrape Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,304],"continueOnFail":true,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scrape_runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({queries: ($json.body && $json.body.queries) || [($json.body && $json.body.query) || ''], lat: ($json.body && $json.body.lat) || null, lng: ($json.body && $json.body.lng) || null, zoom: ($json.body && $json.body.zoom) || 12, country_code: ($json.body && $json.body.countryCode) || 'us', language: ($json.body && $json.body.language) || 'en', results_per_query: ($json.body && $json.body.resultsPerQuery) || 20, status: 'running'}) }}","options":{"timeout":10000}}},{"id":"scrape-3","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304],"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || webhookData;\nconst runRow = $('Start Scrape Run').first().json;\nconst runId = Array.isArray(runRow) ? (runRow[0] && runRow[0].id) : (runRow && runRow.id);\n\nconst defaults = { queries: [], query: '', lat: null, lng: null, zoom: 12, countryCode: 'us', language: 'en', resultsPerQuery: 20 };\nconst params = Object.assign({}, defaults);\nfor (const k in defaults) { if (body[k] !== undefined && body[k] !== null && body[k] !== '') params[k] = body[k]; }\n\nlet queries = [];\nif (Array.isArray(params.queries) && params.queries.length > 0) {\n  queries = params.queries.filter(q => typeof q === 'string' && q.trim()).map(q => q.trim());\n} else if (typeof params.query === 'string' && params.query.trim()) {\n  queries = [params.query.trim()];\n}\n\nconst errors = [];\nif (queries.length === 0) errors.push('queries (array) or query (string) is required');\nif (params.lat === null || isNaN(Number(params.lat))) errors.push('lat must be a number');\nif (params.lng === null || isNaN(Number(params.lng))) errors.push('lng must be a number');\nif (errors.length > 0) throw new Error('Validation failed: ' + errors.join(', '));\n\nreturn queries.map(q => ({ json: { query: q, lat: Number(params.lat), lng: Number(params.lng), zoom: Number(params.zoom) || 12, countryCode: String(params.countryCode || 'us').toLowerCase(), language: String(params.language || 'en').toLowerCase(), resultsPerQuery: Math.min(Math.max(Number(params.resultsPerQuery) || 20, 1), 100), runId: runId || null } }));"}},{"id":"scrape-4","name":"Search Google Maps (SerpAPI)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"url":"={{ 'https://serpapi.com/search.json?engine=google_maps&q=' + encodeURIComponent($json.query) + '&ll=@' + $json.lat + ',' + $json.lng + ',' + $json.zoom + 'z&type=search&hl=' + $json.language + '&gl=' + $json.countryCode + '&api_key=YOUR_SERPAPI_KEY' }}","options":{"timeout":30000,"batching":{"batch":{"batchSize":1,"batchInterval":500}}}}},{"id":"scrape-5","name":"Parse & Format Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,304],"parameters":{"jsCode":"const allInputs = $input.all();\nconst seenPlaceIds = new Set();\nconst results = [];\n\nfunction parseAddress(addr) {\n  if (!addr) return { city: '', state: '', zip: '' };\n  const parts = addr.split(',').map(s => s.trim());\n  const lastPart = parts[parts.length - 1] || '';\n  const usMatch = lastPart.match(/^([A-Z]{2})\\s+(\\d{5})$/);\n  if (usMatch) return { city: parts.length >= 2 ? parts[parts.length - 2] : '', state: usMatch[1], zip: usMatch[2] };\n  const inMatch = lastPart.match(/^(.+?)\\s+(\\d{6})$/);\n  if (inMatch) return { city: parts.length >= 2 ? parts[parts.length - 2] : inMatch[1], state: inMatch[1].length < 30 ? inMatch[1] : '', zip: inMatch[2] };\n  return { city: parts.length >= 2 ? parts[parts.length - 2] : (parts[0] || ''), state: '', zip: '' };\n}\n\nfor (const item of allInputs) {\n  const places = (item.json && item.json.local_results) || [];\n  for (const place of places) {\n    if (!place.title) continue;\n    const pid = place.place_id || place.data_id || '';\n    if (pid && seenPlaceIds.has(pid)) continue;\n    if (pid) seenPlaceIds.add(pid);\n    const { city, state, zip } = parseAddress(place.address);\n    const lat = place.gps_coordinates ? place.gps_coordinates.latitude : null;\n    const lng = place.gps_coordinates ? place.gps_coordinates.longitude : null;\n    results.push({ json: {\n      place_id: pid,\n      business_name: place.title || '',\n      category: place.type || (Array.isArray(place.types) ? place.types[0] : '') || '',\n      full_address: place.address || '',\n      city, state, zip,\n      phone: place.phone || '',\n      website: place.website || '',\n      google_rating: place.rating || null,\n      review_count: place.reviews || 0,\n      maps_description: place.description || '',\n      opening_hours: place.hours || '',\n      google_maps_url: pid ? ('https://www.google.com/maps/place/?q=place_id:' + pid) : '',\n      latitude: lat, longitude: lng,\n      source_query: item.json.query,\n      source_lat: item.json.lat,\n      source_lng: item.json.lng,\n      source_country_code: item.json.countryCode,\n      source_language: item.json.language\n    }});\n  }\n}\n\nreturn results;"}},{"id":"scrape-agg","name":"Aggregate Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,304],"parameters":{"jsCode":"const allItems = $input.all();\nconst leads = allItems.map(i => i.json);\nconst runId = $('Validate Input').first() ? $('Validate Input').first().json.runId : null;\nreturn [{ json: { leads, count: leads.length, runId } }];"}},{"id":"scrape-6","name":"Write Leads to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.leads) }}","options":{"timeout":30000}}},{"id":"scrape-run-end","name":"Complete Scrape Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,304],"continueOnFail":true,"parameters":{"method":"PATCH","url":"={{ 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scrape_runs?id=eq.' + $('Aggregate Leads').first().json.runId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status: 'success', leads_found: $('Aggregate Leads').first().json.count, completed_at: new Date().toISOString()}) }}","options":{"timeout":10000}}},{"id":"scrape-7","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,304],"parameters":{"jsCode":"const agg = $('Aggregate Leads').first().json;\nconst validated = $('Validate Input').all();\nreturn [{ json: { success: true, queriesRun: validated.length, queries: validated.map(v => v.json.query), leadsFound: agg.count, runId: agg.runId, countryCode: validated[0] ? validated[0].json.countryCode : null, timestamp: new Date().toISOString() } }];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Start Scrape Run","type":"main","index":0}]]},"Start Scrape Run":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Search Google Maps (SerpAPI)","type":"main","index":0}]]},"Search Google Maps (SerpAPI)":{"main":[[{"node":"Parse & Format Results","type":"main","index":0}]]},"Parse & Format Results":{"main":[[{"node":"Aggregate Leads","type":"main","index":0}]]},"Aggregate Leads":{"main":[[{"node":"Write Leads to Supabase","type":"main","index":0}]]},"Write Leads to Supabase":{"main":[[{"node":"Complete Scrape Run","type":"main","index":0}]]},"Complete Scrape Run":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"authors":"Samarth Kumar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-10T19:49:56.120Z","id":1454,"workflowId":"MDC99Mk4Hd0oGWZp","versionId":"d72b986c-6769-4c43-af64-d23aec437098","event":"activated","userId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"},{"createdAt":"2026-05-10T19:49:56.094Z","id":1453,"workflowId":"MDC99Mk4Hd0oGWZp","versionId":"d72b986c-6769-4c43-af64-d23aec437098","event":"deactivated","userId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"}]}}