workflows/02_mee-enrichment.json
{"updatedAt":"2026-05-11T11:47:05.017Z","createdAt":"2026-05-06T11:31:13.079Z","id":"MW4tc2hZkrDCTxFJ","name":"GE — Website Enrichment (Generic)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"enrich-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"parameters":{"path":"mee-enrich","responseMode":"lastNode","httpMethod":"POST","options":{}},"webhookId":"5b1c7afc-d786-4d9c-b891-83add00c6df0"},{"id":"enrich-v","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,304],"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || webhookData;\nconst place_ids = Array.isArray(body.place_ids) ? body.place_ids : [];\nreturn [{ json: {\n  filter: body.filter || 'all',\n  limit: Number(body.limit) || 500,\n  place_ids: place_ids,\n  timestamp: new Date().toISOString()\n} }];"}},{"id":"enrich-run-start","name":"Start Enrichment Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,304],"continueOnFail":true,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/enrichment_runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"status\": \"running\"}","options":{"timeout":10000}}},{"id":"enrich-read","name":"Read Leads from Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"url":"={{ (function() { var params = $('Validate Input').first().json; var base = 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/leads_full?select=place_id,business_name,website,city,state,phone&order=scraped_at.desc'; if (params.place_ids && params.place_ids.length > 0) { return base + '&place_id=in.(' + params.place_ids.join(',') + ')'; } return base + '&or=(enriched_at.is.null,enriched_at.lt.' + new Date(Date.now() - 30*24*60*60*1000).toISOString() + ')'; })() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"}]},"options":{"timeout":15000}}},{"id":"enrich-split","name":"Split Supabase Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304],"parameters":{"jsCode":"// n8n HTTP Request auto-splits JSON arrays into individual items\n// so $input.all() already gives 20 separate lead objects, not one array\nconst allLeads = $input.all();\nconst runRow = $('Start Enrichment Run').first().json;\nconst runId = Array.isArray(runRow) ? (runRow[0] && runRow[0].id) : (runRow && runRow.id);\n\nreturn allLeads\n  .filter(item => item.json && item.json.website)\n  .map(item => ({ json: Object.assign({}, item.json, { _runId: runId || null }) }));"}},{"id":"enrich-3a","name":"Fetch Homepage UA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,304],"continueOnFail":true,"parameters":{"url":"={{ ($json.website || '').split('?')[0].split('#')[0] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-3b","name":"Fetch Homepage UA2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-6a","name":"Fetch Contact Page UA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/contact' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-6b","name":"Fetch Contact Page UA2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/contact' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-7a","name":"Fetch About Page UA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/about' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-7b","name":"Fetch About Page UA2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/about' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-sm1","name":"Identify Sitemap Need","type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,304],"parameters":{"jsCode":"const aboutUA2Items = $input.all();\nconst aboutUA1Items = $('Fetch About Page UA1').all();\nconst contactUA2Items = $('Fetch Contact Page UA2').all();\nconst contactUA1Items = $('Fetch Contact Page UA1').all();\nconst originals = $('Split Supabase Leads').all();\n\nfunction getHtml(resp) {\n  if (!resp) return '';\n  const raw = resp.json;\n  if (raw && typeof raw.data === 'string' && raw.data.length > 200) return raw.data;\n  if (typeof raw === 'string' && raw.length > 200) return raw;\n  return '';\n}\n\nconst results = [];\nfor (let i = 0; i < originals.length; i++) {\n  const orig = originals[i].json;\n  const cleanUrl = (orig.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '');\n  const contactOk = getHtml(contactUA1Items[i]).length > 200 || getHtml(contactUA2Items[i]).length > 200;\n  const aboutOk = getHtml(aboutUA1Items[i]).length > 200 || getHtml(aboutUA2Items[i]).length > 200;\n  const needsSitemap = !!cleanUrl && !contactOk && !aboutOk;\n  results.push({ json: { place_id: orig.place_id, cleanUrl, needsSitemap, sitemapUrl: needsSitemap ? (cleanUrl + '/sitemap.xml') : 'https://example.com/' } });\n}\nreturn results;"}},{"id":"enrich-sm2","name":"Fetch Sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,304],"continueOnFail":true,"parameters":{"url":"={{ $json.sitemapUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":10000,"batching":{"batch":{"batchSize":1,"batchInterval":100}}}}},{"id":"enrich-sm3","name":"Parse Sitemap","type":"n8n-nodes-base.code","typeVersion":2,"position":[2380,304],"parameters":{"jsCode":"const sitemapResps = $input.all();\nconst candidates = $('Identify Sitemap Need').all();\nconst CONTACT_PATTERNS = ['contact', 'contact-us', 'contactus', 'reach', 'reach-us', 'get-in-touch', 'about', 'about-us', 'team', 'our-team', 'staff', 'who-we-are', 'kontakt', 'contacto', 'contactez', 'sampark'];\nconst results = [];\nfor (let i = 0; i < candidates.length; i++) {\n  const cand = candidates[i].json;\n  const sitemapResp = sitemapResps[i] ? sitemapResps[i].json : null;\n  let sitemapPageUrl = 'https://example.com/';\n  if (cand.needsSitemap && sitemapResp) {\n    let xml = typeof sitemapResp === 'string' ? sitemapResp : (sitemapResp.data && typeof sitemapResp.data === 'string' ? sitemapResp.data : '');\n    if (xml.length > 100 && xml.indexOf('<') >= 0) {\n      if (xml.length > 500000) xml = xml.substring(0, 500000);\n      const urlMatches = xml.match(/<loc>([^<]+)<\\/loc>/gi) || [];\n      const urls = urlMatches.map(m => m.replace(/<\\/?loc>/gi, '').trim());\n      const candidate = urls.find(u => { try { const lower = u.toLowerCase(); return CONTACT_PATTERNS.some(p => lower.includes('/' + p) || lower.includes(p + '.')); } catch (e) { return false; } });\n      if (candidate) sitemapPageUrl = candidate;\n    }\n  }\n  results.push({ json: Object.assign({}, cand, { sitemapPageUrl }) });\n}\nreturn results;"}},{"id":"enrich-sm4","name":"Fetch Sitemap Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,304],"continueOnFail":true,"parameters":{"url":"={{ $json.sitemapPageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-4","name":"Extract Contact Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,304],"parameters":{"jsCode":"const sitemapPageResponses = $input.all();\nconst aboutResponsesUA1 = $('Fetch About Page UA1').all();\nconst aboutResponsesUA2 = $('Fetch About Page UA2').all();\nconst contactResponsesUA1 = $('Fetch Contact Page UA1').all();\nconst contactResponsesUA2 = $('Fetch Contact Page UA2').all();\nconst homepageResponsesUA1 = $('Fetch Homepage UA1').all();\nconst homepageResponsesUA2 = $('Fetch Homepage UA2').all();\nconst originals = $('Split Supabase Leads').all();\nconst sitemapMeta = $('Identify Sitemap Need').all();\nconst parsedSitemaps = $('Parse Sitemap').all();\n\nconst NOISE = ['example.com','domain.com','sentry.io','wixpress.com','schema.org','w3.org','jquery','bootstrap','google-analytics','googletagmanager','cloudflare','gstatic.com','gravatar','recaptcha','.png','.jpg','.jpeg','.gif','.svg','.webp','.ico','noreply','no-reply','do-not-reply','donotreply','postmaster','webmaster','privacy@','legal@','dmca@','abuse@'];\nconst FB_BLACKLIST = ['sharer','share','login','dialog','plugins','photo','photos','groups','events','pages','tr','people','permalink','home','public','login.php','profile.php','help','business','developers','gaming','watch','marketplace','fbevents','pixel','connect','oauth'];\nconst IG_BLACKLIST = ['p','reel','reels','tv','stories','explore','accounts','about','developer','embed','static','web','directory','help','press','api','oauth','fragment'];\nconst TWITTER_BLACKLIST = ['intent','share','home','i','search','hashtag','login','compose','about','bolt','favicon','widget','widgets','embed','oauth','web','tos','privacy','help','settings','notifications','messages','signup','logout','account','tweets','statuses','status','lists','moments','jobs','press','developer','developers','analytics','business'];\nconst PREFERRED_PREFIXES = ['info','contact','hello','hi','sales','support','admin','office','inquiries'];\nconst LI_PROFILE_BLACKLIST = ['company','pub','dir','feed','jobs','school','groups','pulse','posts','mynetwork','messaging','notifications','search','learning','premium','talent','sales','marketing','newsletters'];\nconst NAME_STOP_WORDS = new Set(['the','for','a','an','is','are','it','and','or','of','in','to','with','by','if','at','from','as','that','this','but','be','been','was','were','has','have','had','not','on','up','out','so','can','all','than','then','their','its','our','we','you','he','she','they','will','do','did','said','get','just','now','know','go','like','see','how','when','what','which','who','my','your','his','her','us','id','auto','resource','center','management','property','services','group','associates','partners','solutions','systems','logo','listing','cooperative','realty','real','estate','team','leader','please','contact','click','here','learn','more','about','read']);\n\nfunction getHtml(resp) {\n  if (!resp) return '';\n  const raw = resp.json;\n  if (raw && typeof raw.data === 'string' && raw.data.length > 200) return raw.data;\n  if (typeof raw === 'string' && raw.length > 200) return raw;\n  return '';\n}\nfunction tryFetches() {\n  for (let j = 0; j < arguments.length; j++) { const html = getHtml(arguments[j]); if (html.length > 200) return html; }\n  return '';\n}\nfunction extractMailtos(html) {\n  const out = []; const re = /href=[\"']mailto:([^\"'?\\s]+)/gi; let m;\n  while ((m = re.exec(html)) !== null) out.push(m[1].trim().toLowerCase());\n  return out;\n}\nfunction extractAllEmails(html) { const re = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/gi; return (html.match(re) || []).map(e => e.toLowerCase()); }\nfunction filterNoise(emails) { return emails.filter(e => !NOISE.some(n => e.includes(n))); }\nfunction scoreEmail(email, cityKey, stateKey) {\n  const local = email.split('@')[0].toLowerCase(); let score = 0;\n  for (const p of PREFERRED_PREFIXES) { if (local === p) { score += 100; break; } if (local.startsWith(p+'.') || local.startsWith(p+'-') || local.startsWith(p+'_')) { score += 95; break; } if (local.startsWith(p)) { score += 80; break; } }\n  if (cityKey && cityKey.length >= 3 && local.includes(cityKey)) score += 50;\n  if (stateKey && stateKey.length === 2 && (local === stateKey || local.startsWith(stateKey) || local.endsWith(stateKey))) score += 30;\n  return score;\n}\nfunction sortEmailsByRelevance(emails, city, state) {\n  const cityKey = (city || '').toLowerCase().replace(/[^a-z]/g,'').slice(0,3);\n  const stateKey = (state || '').toLowerCase();\n  return emails.slice().sort((a, b) => scoreEmail(b, cityKey, stateKey) - scoreEmail(a, cityKey, stateKey));\n}\nfunction extractJsonLd(html) {\n  const out = { emails: [], phones: [], description: '', ownerName: '' };\n  const re = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  let match;\n  while ((match = re.exec(html)) !== null) {\n    try {\n      const parsed = JSON.parse(match[1].trim());\n      const items = Array.isArray(parsed) ? parsed : (parsed['@graph'] ? parsed['@graph'] : [parsed]);\n      for (const item of items) {\n        if (!item || typeof item !== 'object') continue;\n        const collectFrom = (obj) => {\n          if (obj.email) { const e = Array.isArray(obj.email) ? obj.email[0] : obj.email; if (typeof e === 'string') out.emails.push(e.toLowerCase().replace(/^mailto:/,'')); }\n          if (obj.telephone) { const t = Array.isArray(obj.telephone) ? obj.telephone[0] : obj.telephone; if (typeof t === 'string' && t.trim()) out.phones.push(t.trim()); }\n        };\n        collectFrom(item);\n        if (item.description && !out.description) out.description = String(item.description).slice(0,500);\n        if (item.contactPoint) { const cps = Array.isArray(item.contactPoint) ? item.contactPoint : [item.contactPoint]; cps.forEach(collectFrom); }\n        if (!out.ownerName) {\n          if (item['@type'] === 'Person' && item.name) out.ownerName = item.name;\n          if (item.founder) { const f = Array.isArray(item.founder) ? item.founder[0] : item.founder; if (f && f.name) out.ownerName = f.name; }\n          if (item.employee) { const e = Array.isArray(item.employee) ? item.employee[0] : item.employee; if (e && e.name && e.jobTitle && /owner|ceo|president|founder|principal|director|broker/i.test(e.jobTitle)) out.ownerName = e.name; }\n        }\n      }\n    } catch (e) {}\n  }\n  return out;\n}\nfunction extractMetaDescription(html) {\n  const patterns = [/<meta[^>]+property=[\"']og:description[\"'][^>]+content=[\"']([^\"']{20,500})[\"']/i,/<meta[^>]+content=[\"']([^\"']{20,500})[\"'][^>]+property=[\"']og:description[\"']/i,/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']{20,500})[\"']/i,/<meta[^>]+content=[\"']([^\"']{20,500})[\"'][^>]+name=[\"']description[\"']/i];\n  for (const p of patterns) { const m = html.match(p); if (m && m[1]) return m[1].trim().replace(/\\s+/g,' '); }\n  return '';\n}\nfunction extractSocial(html, regex, blacklist, baseUrl) {\n  const m = html.match(regex); if (!m || !m[1]) return '';\n  const handle = m[1]; if (blacklist.some(b => b === handle.toLowerCase())) return ''; if (/^\\d+$/.test(handle)) return ''; if (handle.length < 2) return '';\n  return baseUrl + handle;\n}\nfunction extractPhones(html) {\n  const results = [];\n  const seen = new Set();\n  function isValidLocal(local) {\n    if (local.length !== 10) return false;\n    if (local[0] === '0' || local[0] === '1') return false;\n    if (local[3] === '0' || local[3] === '1') return false;\n    for (let d = 0; d <= 9; d++) {\n      let cnt = 0; for (const c of local) if (c === String(d)) cnt++;\n      if (cnt >= 8) return false;\n    }\n    const segs=[local.slice(0,3),local.slice(3,6),local.slice(6)]; if(segs.every(s=>new Set(s.split('')).size===1)) return false;\n    return true;\n  }\n  function tryAdd(raw) {\n    const digits = raw.replace(/\\D/g, '');\n    const local = digits.startsWith('1') && digits.length === 11 ? digits.slice(1) : digits;\n    if (isValidLocal(local) && !seen.has(local)) { seen.add(local); results.push(raw.trim().replace(/\\s+/g,' ')); }\n  }\n  let m;\n  const r1 = /href=[\"']tel:([^\"'\\s]+)/gi; while ((m = r1.exec(html)) !== null) tryAdd(m[1]);\n  const r2 = /\\((\\d{3})\\)\\s*(\\d{3})[\\s.\\-](\\d{4})/g; while ((m = r2.exec(html)) !== null) tryAdd(m[0]);\n  const r3 = /\\b(\\d{3})([\\-\\.])\\d{3}\\2\\d{4}\\b/g; while ((m = r3.exec(html)) !== null) tryAdd(m[0]);\n  const r4 = /\\+1[\\s.\\-]?(\\d{3})[\\s.\\-](\\d{3})[\\s.\\-](\\d{4})\\b/g; while ((m = r4.exec(html)) !== null) tryAdd(m[0]);\n  const r5 = /\\+1(\\d{10})\\b/g; while ((m = r5.exec(html)) !== null) tryAdd(m[0]);\n  return results.slice(0, 5);\n}\nfunction isLikelyName(str) {\n  if (!str) return false;\n  const words = str.trim().split(/\\s+/);\n  if (words.length < 2 || words.length > 3) return false;\n  if (!words.every(w => /^[A-Z][a-z]{1,19}$/.test(w))) return false;\n  if (words.some(w => NAME_STOP_WORDS.has(w.toLowerCase()))) return false;\n  return true;\n}\nfunction extractLinkedInProfiles(html) {\n  const re = /linkedin\\.com\\/in\\/([a-zA-Z0-9_\\-\\.]{3,100})/gi;\n  const profiles = []; const seen = new Set(); let m;\n  while ((m = re.exec(html)) !== null) {\n    const handle = m[1].replace(/\\/$/, '').split('/')[0].split('?')[0];\n    if (LI_PROFILE_BLACKLIST.includes(handle.toLowerCase())) continue;\n    if (/^\\d+$/.test(handle)) continue;\n    if (seen.has(handle.toLowerCase())) continue;\n    seen.add(handle.toLowerCase());\n    profiles.push('https://www.linkedin.com/in/' + handle);\n  }\n  return profiles.slice(0, 5);\n}\nfunction extractOwnerName(pageHtml) {\n  if (!pageHtml || pageHtml.length < 50) return '';\n  const patterns = [\n    /(?:founded?\\s+by|founder[:\\s]+|owner[:\\s]+|ceo[:\\s]+|president[:\\s]+|principal[:\\s]+|managing\\s+broker[:\\s]+|principal\\s+broker[:\\s]+)\\s*[:\\-]?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){1,2})/i,\n    /meet\\s+([A-Z][a-z]+\\s+[A-Z][a-z]+)/i\n  ];\n  for (const p of patterns) {\n    const m = pageHtml.match(p);\n    if (m && m[1] && isLikelyName(m[1])) return m[1].trim();\n  }\n  return '';\n}\n\nconst results = [];\nfor (let i = 0; i < originals.length; i++) {\n  const orig = originals[i].json;\n  const sm = sitemapMeta[i] ? sitemapMeta[i].json : { needsSitemap: false };\n  const ps = parsedSitemaps[i] ? parsedSitemaps[i].json : { sitemapPageUrl: 'https://example.com/' };\n  const realSitemapPageUsed = sm.needsSitemap && ps.sitemapPageUrl && ps.sitemapPageUrl.indexOf('example.com') < 0;\n  const homepageHtml = tryFetches(homepageResponsesUA1[i], homepageResponsesUA2[i]);\n  const contactHtml = tryFetches(contactResponsesUA1[i], contactResponsesUA2[i]);\n  const aboutHtml = tryFetches(aboutResponsesUA1[i], aboutResponsesUA2[i]);\n  const sitemapPageHtml = realSitemapPageUsed ? getHtml(sitemapPageResponses[i]) : '';\n  const html = homepageHtml + ' ' + contactHtml + ' ' + aboutHtml + ' ' + sitemapPageHtml;\n  const standardPagesOk = [homepageHtml, contactHtml, aboutHtml].filter(h => h.length > 0).length;\n  const sitemapHelped = realSitemapPageUsed && sitemapPageHtml.length > 200;\n  let crawlStatus;\n  if (standardPagesOk === 0 && !sitemapHelped) crawlStatus = 'blocked - site refused all UA attempts (hard block)';\n  else if (sitemapHelped) crawlStatus = 'ok (' + standardPagesOk + '/3 pages + sitemap fallback)';\n  else crawlStatus = 'ok (' + standardPagesOk + '/3 pages)';\n\n  let allEmails = filterNoise([...new Set(extractMailtos(html))]);\n  if (allEmails.length === 0) allEmails = filterNoise([...new Set(extractAllEmails(html))]);\n  const jsonld = extractJsonLd(html);\n  if (jsonld.emails.length) { const jsonldEmails = filterNoise(jsonld.emails); allEmails = [...new Set([...jsonldEmails, ...allEmails])]; }\n  const sortedEmails = sortEmailsByRelevance(allEmails, orig.city || '', orig.state || '');\n  const primaryEmail = sortedEmails[0] || '';\n\n  let allPhones = extractPhones(html);\n  if (jsonld.phones.length) {\n    for (const p of jsonld.phones) {\n      const digs = p.replace(/\\D/g,'');\n      const loc = digs.startsWith('1') && digs.length === 11 ? digs.slice(1) : digs;\n      if (loc.length === 10 && !allPhones.some(ex => ex.replace(/\\D/g,'').slice(-10) === loc)) allPhones.unshift(p);\n    }\n    allPhones = allPhones.slice(0, 5);\n  }\n  const websitePhone = allPhones[0] || '';\n\n  const linkedinProfiles = extractLinkedInProfiles(html);\n  const ownerName = jsonld.ownerName || extractOwnerName(aboutHtml) || extractOwnerName(contactHtml) || '';\n\n  let description = extractMetaDescription(homepageHtml) || extractMetaDescription(aboutHtml) || extractMetaDescription(contactHtml) || extractMetaDescription(sitemapPageHtml);\n  if (!description && jsonld.description) description = jsonld.description;\n  if (!description && standardPagesOk === 0 && !sitemapHelped) description = 'unable to access website (hard blocked - all UAs refused)';\n\n  const linkedin = extractSocial(html, /linkedin\\.com\\/company\\/([a-zA-Z0-9_\\-\\.]+)/i, [], 'https://www.linkedin.com/company/');\n  const facebook = extractSocial(html, /facebook\\.com\\/([a-zA-Z0-9_.]+)/i, FB_BLACKLIST, 'https://www.facebook.com/');\n  const instagram = extractSocial(html, /instagram\\.com\\/([a-zA-Z0-9_.]+)/i, IG_BLACKLIST, 'https://www.instagram.com/');\n  const twitterMatch = html.match(/(?:twitter|x)\\.com\\/([a-zA-Z0-9_]+)/i);\n  const twitter = (twitterMatch && !TWITTER_BLACKLIST.includes(twitterMatch[1].toLowerCase()) && !/^\\d+$/.test(twitterMatch[1]) && twitterMatch[1].length >= 2) ? 'https://twitter.com/' + twitterMatch[1] : '';\n  const ytMatch = html.match(/youtube\\.com\\/((?:c\\/|channel\\/|user\\/|@)[a-zA-Z0-9_\\-\\.]+)/i);\n  const youtube = ytMatch ? 'https://www.youtube.com/' + ytMatch[1] : '';\n  const tkMatch = html.match(/tiktok\\.com\\/@([a-zA-Z0-9_.]+)/i);\n  const tiktok = tkMatch ? 'https://www.tiktok.com/@' + tkMatch[1] : '';\n\n  results.push({ json: {\n    place_id: orig.place_id,\n    email: primaryEmail, all_emails_found: sortedEmails.join(' | '),\n    website_phone: websitePhone, all_phones_found: allPhones.join(' | '),\n    owner_name: ownerName,\n    linkedin_profiles: linkedinProfiles.join(' | '),\n    linkedin, facebook, instagram, twitter, youtube, tiktok,\n    company_description: description, crawl_status: crawlStatus,\n    _runId: orig._runId\n  }});\n}\nreturn results;"}},{"id":"enrich-8","name":"Validate Email Domain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,304],"continueOnFail":true,"parameters":{"url":"={{ ($json.email && $json.email.includes('@')) ? 'https://dns.google/resolve?name=' + encodeURIComponent($json.email.split('@')[1]) + '&type=MX' : 'https://dns.google/resolve?name=invalid.invalid&type=MX' }}","options":{"timeout":10000,"batching":{"batch":{"batchSize":1,"batchInterval":100}}}}},{"id":"enrich-9","name":"Finalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[3020,304],"parameters":{"jsCode":"const dnsResponses = $input.all();\nconst extractionData = $('Extract Contact Data').all();\nconst originals = $('Split Supabase Leads').all();\n\nconst results = [];\nfor (let i = 0; i < extractionData.length; i++) {\n  const ext = extractionData[i].json;\n  const dnsResp = dnsResponses[i] ? dnsResponses[i].json : null;\n  const orig = originals[i] ? originals[i].json : {};\n\n  let email_valid = '';\n  if (!ext.email) email_valid = '';\n  else if (dnsResp && dnsResp.Status === 0 && Array.isArray(dnsResp.Answer) && dnsResp.Answer.length > 0) email_valid = 'valid';\n  else if (dnsResp && (typeof dnsResp.Status === 'number' || dnsResp.Comment)) email_valid = 'no MX';\n  else email_valid = 'check failed';\n\n  const errors = [];\n  if (ext.crawl_status && ext.crawl_status.includes('blocked')) {\n    // All error objects MUST have identical keys (PostgREST requirement)\n    errors.push({ place_id: ext.place_id, run_type: 'enrich', error_type: 'HARD_BLOCKED', error_details: ext.crawl_status, url_attempted: orig.website || '', ua_used: 'Chrome + Firefox', http_status: null });\n  }\n  if (!ext.email && ext.crawl_status && !ext.crawl_status.includes('blocked')) {\n    errors.push({ place_id: ext.place_id, run_type: 'enrich', error_type: 'NO_EMAIL_FOUND', error_details: 'No email found across all crawled pages', url_attempted: orig.website || '', ua_used: null, http_status: null });\n  }\n\n  results.push({ json: Object.assign({}, ext, { email_valid, sitemap_used: ext.crawl_status ? ext.crawl_status.includes('sitemap') : false, pages_crawled: ext.crawl_status ? parseInt((ext.crawl_status.match(/(\\d+)\\//) || ['','0'])[1]) : 0, _errors: errors }) });\n}\nreturn results;"}},{"id":"enrich-agg","name":"Aggregate for Supabase","type":"n8n-nodes-base.code","typeVersion":2,"position":[3180,304],"parameters":{"jsCode":"const finalItems = $input.all();\nconst runId = finalItems[0] && finalItems[0].json._runId ? finalItems[0].json._runId : null;\n\nconst enrichmentBatch = [];\nconst errorBatch = [];\n\nfor (const item of finalItems) {\n  const j = item.json;\n  enrichmentBatch.push({\n    place_id: j.place_id,\n    email: j.email || '',\n    all_emails_found: j.all_emails_found || '',\n    website_phone: j.website_phone || '',\n    all_phones_found: j.all_phones_found || '',\n    owner_name: j.owner_name || '',\n    linkedin_profiles: j.linkedin_profiles || '',\n    linkedin: j.linkedin || '',\n    facebook: j.facebook || '',\n    instagram: j.instagram || '',\n    twitter: j.twitter || '',\n    youtube: j.youtube || '',\n    tiktok: j.tiktok || '',\n    company_description: j.company_description || '',\n    email_valid: j.email_valid || '',\n    crawl_status: j.crawl_status || '',\n    sitemap_used: j.sitemap_used || false,\n    pages_crawled: j.pages_crawled || 0\n  });\n  if (j._errors && j._errors.length > 0) {\n    for (const err of j._errors) errorBatch.push(Object.assign({}, err, { run_id: runId }));\n  }\n}\n\nconst stats = {\n  leadsProcessed: enrichmentBatch.length,\n  emailsFound: enrichmentBatch.filter(e => e.email).length,\n  phonesFound: enrichmentBatch.filter(e => e.website_phone).length,\n  ownerNamesFound: enrichmentBatch.filter(e => e.owner_name).length,\n  linkedinProfilesFound: enrichmentBatch.filter(e => e.linkedin_profiles).length,\n  hardBlocked: enrichmentBatch.filter(e => e.crawl_status && e.crawl_status.includes('blocked')).length,\n  sitemapFallbackUsed: enrichmentBatch.filter(e => e.crawl_status && e.crawl_status.includes('sitemap')).length\n};\n\nreturn [{ json: { enrichmentBatch, errorBatch, runId, stats } }];"}},{"id":"enrich-write","name":"Write Enrichment to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3340,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/lead_enrichment?on_conflict=place_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.enrichmentBatch) }}","options":{"timeout":30000}}},{"id":"enrich-err","name":"Log Errors to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,304],"continueOnFail":true,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/lead_errors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.hasErrors ? JSON.stringify($json.errorBatch) : '[]' }}","options":{"timeout":15000}}},{"id":"enrich-run-end","name":"Complete Enrichment Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,304],"continueOnFail":true,"parameters":{"method":"PATCH","url":"={{ 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/enrichment_runs?id=eq.' + $('Aggregate for Supabase').first().json.runId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status: 'success', leads_processed: $('Aggregate for Supabase').first().json.stats.leadsProcessed, emails_found: $('Aggregate for Supabase').first().json.stats.emailsFound, hard_blocked: $('Aggregate for Supabase').first().json.stats.hardBlocked, sitemap_fallback_used: $('Aggregate for Supabase').first().json.stats.sitemapFallbackUsed, completed_at: new Date().toISOString()}) }}","options":{"timeout":10000}}},{"id":"enrich-r","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3820,304],"parameters":{"jsCode":"const agg = $('Aggregate for Supabase').first().json;\nreturn [{ json: { success: true, runId: agg.runId, leadsProcessed: agg.stats.leadsProcessed, emailsFound: agg.stats.emailsFound, hardBlocked: agg.stats.hardBlocked, sitemapFallbackUsed: agg.stats.sitemapFallbackUsed, errorsLogged: agg.errorBatch ? agg.errorBatch.length : 0, timestamp: new Date().toISOString() } }];"}},{"id":"enrich-prep-err","name":"Prepare Error Batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[3420,304],"parameters":{"jsCode":"const agg = $('Aggregate for Supabase').first().json;\nconst errorBatch = (agg && agg.errorBatch) ? agg.errorBatch : [];\nreturn [{ json: { errorBatch, hasErrors: errorBatch.length > 0 } }];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Start Enrichment Run","type":"main","index":0}]]},"Start Enrichment Run":{"main":[[{"node":"Read Leads from Supabase","type":"main","index":0}]]},"Read Leads from Supabase":{"main":[[{"node":"Split Supabase Leads","type":"main","index":0}]]},"Split Supabase Leads":{"main":[[{"node":"Fetch Homepage UA1","type":"main","index":0}]]},"Fetch Homepage UA1":{"main":[[{"node":"Fetch Homepage UA2","type":"main","index":0}]]},"Fetch Homepage UA2":{"main":[[{"node":"Fetch Contact Page UA1","type":"main","index":0}]]},"Fetch Contact Page UA1":{"main":[[{"node":"Fetch Contact Page UA2","type":"main","index":0}]]},"Fetch Contact Page UA2":{"main":[[{"node":"Fetch About Page UA1","type":"main","index":0}]]},"Fetch About Page UA1":{"main":[[{"node":"Fetch About Page UA2","type":"main","index":0}]]},"Fetch About Page UA2":{"main":[[{"node":"Identify Sitemap Need","type":"main","index":0}]]},"Identify Sitemap Need":{"main":[[{"node":"Fetch Sitemap","type":"main","index":0}]]},"Fetch Sitemap":{"main":[[{"node":"Parse Sitemap","type":"main","index":0}]]},"Parse Sitemap":{"main":[[{"node":"Fetch Sitemap Page","type":"main","index":0}]]},"Fetch Sitemap Page":{"main":[[{"node":"Extract Contact Data","type":"main","index":0}]]},"Extract Contact Data":{"main":[[{"node":"Validate Email Domain","type":"main","index":0}]]},"Validate Email Domain":{"main":[[{"node":"Finalize","type":"main","index":0}]]},"Finalize":{"main":[[{"node":"Aggregate for Supabase","type":"main","index":0}]]},"Aggregate for Supabase":{"main":[[{"node":"Write Enrichment to Supabase","type":"main","index":0}]]},"Log Errors to Supabase":{"main":[[{"node":"Complete Enrichment Run","type":"main","index":0}]]},"Complete Enrichment Run":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Write Enrichment to Supabase":{"main":[[{"node":"Prepare Error Batch","type":"main","index":0}]]},"Prepare Error Batch":{"main":[[{"node":"Log Errors to Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"89c7393c-dc9d-4a1a-b068-f42c36f5eaa2","activeVersionId":"89c7393c-dc9d-4a1a-b068-f42c36f5eaa2","versionCounter":76,"triggerCount":1,"shared":[{"updatedAt":"2026-05-06T11:31:13.090Z","createdAt":"2026-05-06T11:31:13.090Z","role":"workflow:owner","workflowId":"MW4tc2hZkrDCTxFJ","projectId":"6T2z9zDYCsuzyhA3","project":{"updatedAt":"2026-04-06T11:29:59.910Z","createdAt":"2026-04-06T11:27:47.569Z","id":"6T2z9zDYCsuzyhA3","name":"Samarth Kumar <samarth.kumar@oyelabs.com>","type":"personal","icon":null,"description":null,"creatorId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-11T11:47:05.020Z","createdAt":"2026-05-11T11:47:05.020Z","versionId":"89c7393c-dc9d-4a1a-b068-f42c36f5eaa2","workflowId":"MW4tc2hZkrDCTxFJ","nodes":[{"id":"enrich-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"parameters":{"path":"mee-enrich","responseMode":"lastNode","httpMethod":"POST","options":{}},"webhookId":"5b1c7afc-d786-4d9c-b891-83add00c6df0"},{"id":"enrich-v","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,304],"parameters":{"jsCode":"const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || webhookData;\nconst place_ids = Array.isArray(body.place_ids) ? body.place_ids : [];\nreturn [{ json: {\n  filter: body.filter || 'all',\n  limit: Number(body.limit) || 500,\n  place_ids: place_ids,\n  timestamp: new Date().toISOString()\n} }];"}},{"id":"enrich-run-start","name":"Start Enrichment Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,304],"continueOnFail":true,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/enrichment_runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"status\": \"running\"}","options":{"timeout":10000}}},{"id":"enrich-read","name":"Read Leads from Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"url":"={{ (function() { var params = $('Validate Input').first().json; var base = 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/leads_full?select=place_id,business_name,website,city,state,phone&order=scraped_at.desc'; if (params.place_ids && params.place_ids.length > 0) { return base + '&place_id=in.(' + params.place_ids.join(',') + ')'; } return base + '&or=(enriched_at.is.null,enriched_at.lt.' + new Date(Date.now() - 30*24*60*60*1000).toISOString() + ')'; })() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"}]},"options":{"timeout":15000}}},{"id":"enrich-split","name":"Split Supabase Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304],"parameters":{"jsCode":"// n8n HTTP Request auto-splits JSON arrays into individual items\n// so $input.all() already gives 20 separate lead objects, not one array\nconst allLeads = $input.all();\nconst runRow = $('Start Enrichment Run').first().json;\nconst runId = Array.isArray(runRow) ? (runRow[0] && runRow[0].id) : (runRow && runRow.id);\n\nreturn allLeads\n  .filter(item => item.json && item.json.website)\n  .map(item => ({ json: Object.assign({}, item.json, { _runId: runId || null }) }));"}},{"id":"enrich-3a","name":"Fetch Homepage UA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,304],"continueOnFail":true,"parameters":{"url":"={{ ($json.website || '').split('?')[0].split('#')[0] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-3b","name":"Fetch Homepage UA2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-6a","name":"Fetch Contact Page UA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/contact' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-6b","name":"Fetch Contact Page UA2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/contact' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-7a","name":"Fetch About Page UA1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/about' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-7b","name":"Fetch About Page UA2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,304],"continueOnFail":true,"parameters":{"url":"={{ ($('Split Supabase Leads').item.json.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '') + '/about' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:123.0) Gecko/20100101 Firefox/123.0"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-sm1","name":"Identify Sitemap Need","type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,304],"parameters":{"jsCode":"const aboutUA2Items = $input.all();\nconst aboutUA1Items = $('Fetch About Page UA1').all();\nconst contactUA2Items = $('Fetch Contact Page UA2').all();\nconst contactUA1Items = $('Fetch Contact Page UA1').all();\nconst originals = $('Split Supabase Leads').all();\n\nfunction getHtml(resp) {\n  if (!resp) return '';\n  const raw = resp.json;\n  if (raw && typeof raw.data === 'string' && raw.data.length > 200) return raw.data;\n  if (typeof raw === 'string' && raw.length > 200) return raw;\n  return '';\n}\n\nconst results = [];\nfor (let i = 0; i < originals.length; i++) {\n  const orig = originals[i].json;\n  const cleanUrl = (orig.website || '').split('?')[0].split('#')[0].replace(/\\/+$/, '');\n  const contactOk = getHtml(contactUA1Items[i]).length > 200 || getHtml(contactUA2Items[i]).length > 200;\n  const aboutOk = getHtml(aboutUA1Items[i]).length > 200 || getHtml(aboutUA2Items[i]).length > 200;\n  const needsSitemap = !!cleanUrl && !contactOk && !aboutOk;\n  results.push({ json: { place_id: orig.place_id, cleanUrl, needsSitemap, sitemapUrl: needsSitemap ? (cleanUrl + '/sitemap.xml') : 'https://example.com/' } });\n}\nreturn results;"}},{"id":"enrich-sm2","name":"Fetch Sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,304],"continueOnFail":true,"parameters":{"url":"={{ $json.sitemapUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":10000,"batching":{"batch":{"batchSize":1,"batchInterval":100}}}}},{"id":"enrich-sm3","name":"Parse Sitemap","type":"n8n-nodes-base.code","typeVersion":2,"position":[2380,304],"parameters":{"jsCode":"const sitemapResps = $input.all();\nconst candidates = $('Identify Sitemap Need').all();\nconst CONTACT_PATTERNS = ['contact', 'contact-us', 'contactus', 'reach', 'reach-us', 'get-in-touch', 'about', 'about-us', 'team', 'our-team', 'staff', 'who-we-are', 'kontakt', 'contacto', 'contactez', 'sampark'];\nconst results = [];\nfor (let i = 0; i < candidates.length; i++) {\n  const cand = candidates[i].json;\n  const sitemapResp = sitemapResps[i] ? sitemapResps[i].json : null;\n  let sitemapPageUrl = 'https://example.com/';\n  if (cand.needsSitemap && sitemapResp) {\n    let xml = typeof sitemapResp === 'string' ? sitemapResp : (sitemapResp.data && typeof sitemapResp.data === 'string' ? sitemapResp.data : '');\n    if (xml.length > 100 && xml.indexOf('<') >= 0) {\n      if (xml.length > 500000) xml = xml.substring(0, 500000);\n      const urlMatches = xml.match(/<loc>([^<]+)<\\/loc>/gi) || [];\n      const urls = urlMatches.map(m => m.replace(/<\\/?loc>/gi, '').trim());\n      const candidate = urls.find(u => { try { const lower = u.toLowerCase(); return CONTACT_PATTERNS.some(p => lower.includes('/' + p) || lower.includes(p + '.')); } catch (e) { return false; } });\n      if (candidate) sitemapPageUrl = candidate;\n    }\n  }\n  results.push({ json: Object.assign({}, cand, { sitemapPageUrl }) });\n}\nreturn results;"}},{"id":"enrich-sm4","name":"Fetch Sitemap Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,304],"continueOnFail":true,"parameters":{"url":"={{ $json.sitemapPageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"response":{"response":{"responseFormat":"text","fullResponse":false}},"timeout":15000,"redirect":{"redirect":{"followRedirects":true,"maxRedirects":3}},"batching":{"batch":{"batchSize":1,"batchInterval":200}}}}},{"id":"enrich-4","name":"Extract Contact Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,304],"parameters":{"jsCode":"const sitemapPageResponses = $input.all();\nconst aboutResponsesUA1 = $('Fetch About Page UA1').all();\nconst aboutResponsesUA2 = $('Fetch About Page UA2').all();\nconst contactResponsesUA1 = $('Fetch Contact Page UA1').all();\nconst contactResponsesUA2 = $('Fetch Contact Page UA2').all();\nconst homepageResponsesUA1 = $('Fetch Homepage UA1').all();\nconst homepageResponsesUA2 = $('Fetch Homepage UA2').all();\nconst originals = $('Split Supabase Leads').all();\nconst sitemapMeta = $('Identify Sitemap Need').all();\nconst parsedSitemaps = $('Parse Sitemap').all();\n\nconst NOISE = ['example.com','domain.com','sentry.io','wixpress.com','schema.org','w3.org','jquery','bootstrap','google-analytics','googletagmanager','cloudflare','gstatic.com','gravatar','recaptcha','.png','.jpg','.jpeg','.gif','.svg','.webp','.ico','noreply','no-reply','do-not-reply','donotreply','postmaster','webmaster','privacy@','legal@','dmca@','abuse@'];\nconst FB_BLACKLIST = ['sharer','share','login','dialog','plugins','photo','photos','groups','events','pages','tr','people','permalink','home','public','login.php','profile.php','help','business','developers','gaming','watch','marketplace','fbevents','pixel','connect','oauth'];\nconst IG_BLACKLIST = ['p','reel','reels','tv','stories','explore','accounts','about','developer','embed','static','web','directory','help','press','api','oauth','fragment'];\nconst TWITTER_BLACKLIST = ['intent','share','home','i','search','hashtag','login','compose','about','bolt','favicon','widget','widgets','embed','oauth','web','tos','privacy','help','settings','notifications','messages','signup','logout','account','tweets','statuses','status','lists','moments','jobs','press','developer','developers','analytics','business'];\nconst PREFERRED_PREFIXES = ['info','contact','hello','hi','sales','support','admin','office','inquiries'];\nconst LI_PROFILE_BLACKLIST = ['company','pub','dir','feed','jobs','school','groups','pulse','posts','mynetwork','messaging','notifications','search','learning','premium','talent','sales','marketing','newsletters'];\nconst NAME_STOP_WORDS = new Set(['the','for','a','an','is','are','it','and','or','of','in','to','with','by','if','at','from','as','that','this','but','be','been','was','were','has','have','had','not','on','up','out','so','can','all','than','then','their','its','our','we','you','he','she','they','will','do','did','said','get','just','now','know','go','like','see','how','when','what','which','who','my','your','his','her','us','id','auto','resource','center','management','property','services','group','associates','partners','solutions','systems','logo','listing','cooperative','realty','real','estate','team','leader','please','contact','click','here','learn','more','about','read']);\n\nfunction getHtml(resp) {\n  if (!resp) return '';\n  const raw = resp.json;\n  if (raw && typeof raw.data === 'string' && raw.data.length > 200) return raw.data;\n  if (typeof raw === 'string' && raw.length > 200) return raw;\n  return '';\n}\nfunction tryFetches() {\n  for (let j = 0; j < arguments.length; j++) { const html = getHtml(arguments[j]); if (html.length > 200) return html; }\n  return '';\n}\nfunction extractMailtos(html) {\n  const out = []; const re = /href=[\"']mailto:([^\"'?\\s]+)/gi; let m;\n  while ((m = re.exec(html)) !== null) out.push(m[1].trim().toLowerCase());\n  return out;\n}\nfunction extractAllEmails(html) { const re = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/gi; return (html.match(re) || []).map(e => e.toLowerCase()); }\nfunction filterNoise(emails) { return emails.filter(e => !NOISE.some(n => e.includes(n))); }\nfunction scoreEmail(email, cityKey, stateKey) {\n  const local = email.split('@')[0].toLowerCase(); let score = 0;\n  for (const p of PREFERRED_PREFIXES) { if (local === p) { score += 100; break; } if (local.startsWith(p+'.') || local.startsWith(p+'-') || local.startsWith(p+'_')) { score += 95; break; } if (local.startsWith(p)) { score += 80; break; } }\n  if (cityKey && cityKey.length >= 3 && local.includes(cityKey)) score += 50;\n  if (stateKey && stateKey.length === 2 && (local === stateKey || local.startsWith(stateKey) || local.endsWith(stateKey))) score += 30;\n  return score;\n}\nfunction sortEmailsByRelevance(emails, city, state) {\n  const cityKey = (city || '').toLowerCase().replace(/[^a-z]/g,'').slice(0,3);\n  const stateKey = (state || '').toLowerCase();\n  return emails.slice().sort((a, b) => scoreEmail(b, cityKey, stateKey) - scoreEmail(a, cityKey, stateKey));\n}\nfunction extractJsonLd(html) {\n  const out = { emails: [], phones: [], description: '', ownerName: '' };\n  const re = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  let match;\n  while ((match = re.exec(html)) !== null) {\n    try {\n      const parsed = JSON.parse(match[1].trim());\n      const items = Array.isArray(parsed) ? parsed : (parsed['@graph'] ? parsed['@graph'] : [parsed]);\n      for (const item of items) {\n        if (!item || typeof item !== 'object') continue;\n        const collectFrom = (obj) => {\n          if (obj.email) { const e = Array.isArray(obj.email) ? obj.email[0] : obj.email; if (typeof e === 'string') out.emails.push(e.toLowerCase().replace(/^mailto:/,'')); }\n          if (obj.telephone) { const t = Array.isArray(obj.telephone) ? obj.telephone[0] : obj.telephone; if (typeof t === 'string' && t.trim()) out.phones.push(t.trim()); }\n        };\n        collectFrom(item);\n        if (item.description && !out.description) out.description = String(item.description).slice(0,500);\n        if (item.contactPoint) { const cps = Array.isArray(item.contactPoint) ? item.contactPoint : [item.contactPoint]; cps.forEach(collectFrom); }\n        if (!out.ownerName) {\n          if (item['@type'] === 'Person' && item.name) out.ownerName = item.name;\n          if (item.founder) { const f = Array.isArray(item.founder) ? item.founder[0] : item.founder; if (f && f.name) out.ownerName = f.name; }\n          if (item.employee) { const e = Array.isArray(item.employee) ? item.employee[0] : item.employee; if (e && e.name && e.jobTitle && /owner|ceo|president|founder|principal|director|broker/i.test(e.jobTitle)) out.ownerName = e.name; }\n        }\n      }\n    } catch (e) {}\n  }\n  return out;\n}\nfunction extractMetaDescription(html) {\n  const patterns = [/<meta[^>]+property=[\"']og:description[\"'][^>]+content=[\"']([^\"']{20,500})[\"']/i,/<meta[^>]+content=[\"']([^\"']{20,500})[\"'][^>]+property=[\"']og:description[\"']/i,/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']{20,500})[\"']/i,/<meta[^>]+content=[\"']([^\"']{20,500})[\"'][^>]+name=[\"']description[\"']/i];\n  for (const p of patterns) { const m = html.match(p); if (m && m[1]) return m[1].trim().replace(/\\s+/g,' '); }\n  return '';\n}\nfunction extractSocial(html, regex, blacklist, baseUrl) {\n  const m = html.match(regex); if (!m || !m[1]) return '';\n  const handle = m[1]; if (blacklist.some(b => b === handle.toLowerCase())) return ''; if (/^\\d+$/.test(handle)) return ''; if (handle.length < 2) return '';\n  return baseUrl + handle;\n}\nfunction extractPhones(html) {\n  const results = [];\n  const seen = new Set();\n  function isValidLocal(local) {\n    if (local.length !== 10) return false;\n    if (local[0] === '0' || local[0] === '1') return false;\n    if (local[3] === '0' || local[3] === '1') return false;\n    for (let d = 0; d <= 9; d++) {\n      let cnt = 0; for (const c of local) if (c === String(d)) cnt++;\n      if (cnt >= 8) return false;\n    }\n    const segs=[local.slice(0,3),local.slice(3,6),local.slice(6)]; if(segs.every(s=>new Set(s.split('')).size===1)) return false;\n    return true;\n  }\n  function tryAdd(raw) {\n    const digits = raw.replace(/\\D/g, '');\n    const local = digits.startsWith('1') && digits.length === 11 ? digits.slice(1) : digits;\n    if (isValidLocal(local) && !seen.has(local)) { seen.add(local); results.push(raw.trim().replace(/\\s+/g,' ')); }\n  }\n  let m;\n  const r1 = /href=[\"']tel:([^\"'\\s]+)/gi; while ((m = r1.exec(html)) !== null) tryAdd(m[1]);\n  const r2 = /\\((\\d{3})\\)\\s*(\\d{3})[\\s.\\-](\\d{4})/g; while ((m = r2.exec(html)) !== null) tryAdd(m[0]);\n  const r3 = /\\b(\\d{3})([\\-\\.])\\d{3}\\2\\d{4}\\b/g; while ((m = r3.exec(html)) !== null) tryAdd(m[0]);\n  const r4 = /\\+1[\\s.\\-]?(\\d{3})[\\s.\\-](\\d{3})[\\s.\\-](\\d{4})\\b/g; while ((m = r4.exec(html)) !== null) tryAdd(m[0]);\n  const r5 = /\\+1(\\d{10})\\b/g; while ((m = r5.exec(html)) !== null) tryAdd(m[0]);\n  return results.slice(0, 5);\n}\nfunction isLikelyName(str) {\n  if (!str) return false;\n  const words = str.trim().split(/\\s+/);\n  if (words.length < 2 || words.length > 3) return false;\n  if (!words.every(w => /^[A-Z][a-z]{1,19}$/.test(w))) return false;\n  if (words.some(w => NAME_STOP_WORDS.has(w.toLowerCase()))) return false;\n  return true;\n}\nfunction extractLinkedInProfiles(html) {\n  const re = /linkedin\\.com\\/in\\/([a-zA-Z0-9_\\-\\.]{3,100})/gi;\n  const profiles = []; const seen = new Set(); let m;\n  while ((m = re.exec(html)) !== null) {\n    const handle = m[1].replace(/\\/$/, '').split('/')[0].split('?')[0];\n    if (LI_PROFILE_BLACKLIST.includes(handle.toLowerCase())) continue;\n    if (/^\\d+$/.test(handle)) continue;\n    if (seen.has(handle.toLowerCase())) continue;\n    seen.add(handle.toLowerCase());\n    profiles.push('https://www.linkedin.com/in/' + handle);\n  }\n  return profiles.slice(0, 5);\n}\nfunction extractOwnerName(pageHtml) {\n  if (!pageHtml || pageHtml.length < 50) return '';\n  const patterns = [\n    /(?:founded?\\s+by|founder[:\\s]+|owner[:\\s]+|ceo[:\\s]+|president[:\\s]+|principal[:\\s]+|managing\\s+broker[:\\s]+|principal\\s+broker[:\\s]+)\\s*[:\\-]?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){1,2})/i,\n    /meet\\s+([A-Z][a-z]+\\s+[A-Z][a-z]+)/i\n  ];\n  for (const p of patterns) {\n    const m = pageHtml.match(p);\n    if (m && m[1] && isLikelyName(m[1])) return m[1].trim();\n  }\n  return '';\n}\n\nconst results = [];\nfor (let i = 0; i < originals.length; i++) {\n  const orig = originals[i].json;\n  const sm = sitemapMeta[i] ? sitemapMeta[i].json : { needsSitemap: false };\n  const ps = parsedSitemaps[i] ? parsedSitemaps[i].json : { sitemapPageUrl: 'https://example.com/' };\n  const realSitemapPageUsed = sm.needsSitemap && ps.sitemapPageUrl && ps.sitemapPageUrl.indexOf('example.com') < 0;\n  const homepageHtml = tryFetches(homepageResponsesUA1[i], homepageResponsesUA2[i]);\n  const contactHtml = tryFetches(contactResponsesUA1[i], contactResponsesUA2[i]);\n  const aboutHtml = tryFetches(aboutResponsesUA1[i], aboutResponsesUA2[i]);\n  const sitemapPageHtml = realSitemapPageUsed ? getHtml(sitemapPageResponses[i]) : '';\n  const html = homepageHtml + ' ' + contactHtml + ' ' + aboutHtml + ' ' + sitemapPageHtml;\n  const standardPagesOk = [homepageHtml, contactHtml, aboutHtml].filter(h => h.length > 0).length;\n  const sitemapHelped = realSitemapPageUsed && sitemapPageHtml.length > 200;\n  let crawlStatus;\n  if (standardPagesOk === 0 && !sitemapHelped) crawlStatus = 'blocked - site refused all UA attempts (hard block)';\n  else if (sitemapHelped) crawlStatus = 'ok (' + standardPagesOk + '/3 pages + sitemap fallback)';\n  else crawlStatus = 'ok (' + standardPagesOk + '/3 pages)';\n\n  let allEmails = filterNoise([...new Set(extractMailtos(html))]);\n  if (allEmails.length === 0) allEmails = filterNoise([...new Set(extractAllEmails(html))]);\n  const jsonld = extractJsonLd(html);\n  if (jsonld.emails.length) { const jsonldEmails = filterNoise(jsonld.emails); allEmails = [...new Set([...jsonldEmails, ...allEmails])]; }\n  const sortedEmails = sortEmailsByRelevance(allEmails, orig.city || '', orig.state || '');\n  const primaryEmail = sortedEmails[0] || '';\n\n  let allPhones = extractPhones(html);\n  if (jsonld.phones.length) {\n    for (const p of jsonld.phones) {\n      const digs = p.replace(/\\D/g,'');\n      const loc = digs.startsWith('1') && digs.length === 11 ? digs.slice(1) : digs;\n      if (loc.length === 10 && !allPhones.some(ex => ex.replace(/\\D/g,'').slice(-10) === loc)) allPhones.unshift(p);\n    }\n    allPhones = allPhones.slice(0, 5);\n  }\n  const websitePhone = allPhones[0] || '';\n\n  const linkedinProfiles = extractLinkedInProfiles(html);\n  const ownerName = jsonld.ownerName || extractOwnerName(aboutHtml) || extractOwnerName(contactHtml) || '';\n\n  let description = extractMetaDescription(homepageHtml) || extractMetaDescription(aboutHtml) || extractMetaDescription(contactHtml) || extractMetaDescription(sitemapPageHtml);\n  if (!description && jsonld.description) description = jsonld.description;\n  if (!description && standardPagesOk === 0 && !sitemapHelped) description = 'unable to access website (hard blocked - all UAs refused)';\n\n  const linkedin = extractSocial(html, /linkedin\\.com\\/company\\/([a-zA-Z0-9_\\-\\.]+)/i, [], 'https://www.linkedin.com/company/');\n  const facebook = extractSocial(html, /facebook\\.com\\/([a-zA-Z0-9_.]+)/i, FB_BLACKLIST, 'https://www.facebook.com/');\n  const instagram = extractSocial(html, /instagram\\.com\\/([a-zA-Z0-9_.]+)/i, IG_BLACKLIST, 'https://www.instagram.com/');\n  const twitterMatch = html.match(/(?:twitter|x)\\.com\\/([a-zA-Z0-9_]+)/i);\n  const twitter = (twitterMatch && !TWITTER_BLACKLIST.includes(twitterMatch[1].toLowerCase()) && !/^\\d+$/.test(twitterMatch[1]) && twitterMatch[1].length >= 2) ? 'https://twitter.com/' + twitterMatch[1] : '';\n  const ytMatch = html.match(/youtube\\.com\\/((?:c\\/|channel\\/|user\\/|@)[a-zA-Z0-9_\\-\\.]+)/i);\n  const youtube = ytMatch ? 'https://www.youtube.com/' + ytMatch[1] : '';\n  const tkMatch = html.match(/tiktok\\.com\\/@([a-zA-Z0-9_.]+)/i);\n  const tiktok = tkMatch ? 'https://www.tiktok.com/@' + tkMatch[1] : '';\n\n  results.push({ json: {\n    place_id: orig.place_id,\n    email: primaryEmail, all_emails_found: sortedEmails.join(' | '),\n    website_phone: websitePhone, all_phones_found: allPhones.join(' | '),\n    owner_name: ownerName,\n    linkedin_profiles: linkedinProfiles.join(' | '),\n    linkedin, facebook, instagram, twitter, youtube, tiktok,\n    company_description: description, crawl_status: crawlStatus,\n    _runId: orig._runId\n  }});\n}\nreturn results;"}},{"id":"enrich-8","name":"Validate Email Domain","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,304],"continueOnFail":true,"parameters":{"url":"={{ ($json.email && $json.email.includes('@')) ? 'https://dns.google/resolve?name=' + encodeURIComponent($json.email.split('@')[1]) + '&type=MX' : 'https://dns.google/resolve?name=invalid.invalid&type=MX' }}","options":{"timeout":10000,"batching":{"batch":{"batchSize":1,"batchInterval":100}}}}},{"id":"enrich-9","name":"Finalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[3020,304],"parameters":{"jsCode":"const dnsResponses = $input.all();\nconst extractionData = $('Extract Contact Data').all();\nconst originals = $('Split Supabase Leads').all();\n\nconst results = [];\nfor (let i = 0; i < extractionData.length; i++) {\n  const ext = extractionData[i].json;\n  const dnsResp = dnsResponses[i] ? dnsResponses[i].json : null;\n  const orig = originals[i] ? originals[i].json : {};\n\n  let email_valid = '';\n  if (!ext.email) email_valid = '';\n  else if (dnsResp && dnsResp.Status === 0 && Array.isArray(dnsResp.Answer) && dnsResp.Answer.length > 0) email_valid = 'valid';\n  else if (dnsResp && (typeof dnsResp.Status === 'number' || dnsResp.Comment)) email_valid = 'no MX';\n  else email_valid = 'check failed';\n\n  const errors = [];\n  if (ext.crawl_status && ext.crawl_status.includes('blocked')) {\n    // All error objects MUST have identical keys (PostgREST requirement)\n    errors.push({ place_id: ext.place_id, run_type: 'enrich', error_type: 'HARD_BLOCKED', error_details: ext.crawl_status, url_attempted: orig.website || '', ua_used: 'Chrome + Firefox', http_status: null });\n  }\n  if (!ext.email && ext.crawl_status && !ext.crawl_status.includes('blocked')) {\n    errors.push({ place_id: ext.place_id, run_type: 'enrich', error_type: 'NO_EMAIL_FOUND', error_details: 'No email found across all crawled pages', url_attempted: orig.website || '', ua_used: null, http_status: null });\n  }\n\n  results.push({ json: Object.assign({}, ext, { email_valid, sitemap_used: ext.crawl_status ? ext.crawl_status.includes('sitemap') : false, pages_crawled: ext.crawl_status ? parseInt((ext.crawl_status.match(/(\\d+)\\//) || ['','0'])[1]) : 0, _errors: errors }) });\n}\nreturn results;"}},{"id":"enrich-agg","name":"Aggregate for Supabase","type":"n8n-nodes-base.code","typeVersion":2,"position":[3180,304],"parameters":{"jsCode":"const finalItems = $input.all();\nconst runId = finalItems[0] && finalItems[0].json._runId ? finalItems[0].json._runId : null;\n\nconst enrichmentBatch = [];\nconst errorBatch = [];\n\nfor (const item of finalItems) {\n  const j = item.json;\n  enrichmentBatch.push({\n    place_id: j.place_id,\n    email: j.email || '',\n    all_emails_found: j.all_emails_found || '',\n    website_phone: j.website_phone || '',\n    all_phones_found: j.all_phones_found || '',\n    owner_name: j.owner_name || '',\n    linkedin_profiles: j.linkedin_profiles || '',\n    linkedin: j.linkedin || '',\n    facebook: j.facebook || '',\n    instagram: j.instagram || '',\n    twitter: j.twitter || '',\n    youtube: j.youtube || '',\n    tiktok: j.tiktok || '',\n    company_description: j.company_description || '',\n    email_valid: j.email_valid || '',\n    crawl_status: j.crawl_status || '',\n    sitemap_used: j.sitemap_used || false,\n    pages_crawled: j.pages_crawled || 0\n  });\n  if (j._errors && j._errors.length > 0) {\n    for (const err of j._errors) errorBatch.push(Object.assign({}, err, { run_id: runId }));\n  }\n}\n\nconst stats = {\n  leadsProcessed: enrichmentBatch.length,\n  emailsFound: enrichmentBatch.filter(e => e.email).length,\n  phonesFound: enrichmentBatch.filter(e => e.website_phone).length,\n  ownerNamesFound: enrichmentBatch.filter(e => e.owner_name).length,\n  linkedinProfilesFound: enrichmentBatch.filter(e => e.linkedin_profiles).length,\n  hardBlocked: enrichmentBatch.filter(e => e.crawl_status && e.crawl_status.includes('blocked')).length,\n  sitemapFallbackUsed: enrichmentBatch.filter(e => e.crawl_status && e.crawl_status.includes('sitemap')).length\n};\n\nreturn [{ json: { enrichmentBatch, errorBatch, runId, stats } }];"}},{"id":"enrich-write","name":"Write Enrichment to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3340,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/lead_enrichment?on_conflict=place_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.enrichmentBatch) }}","options":{"timeout":30000}}},{"id":"enrich-err","name":"Log Errors to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,304],"continueOnFail":true,"parameters":{"method":"POST","url":"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/lead_errors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.hasErrors ? JSON.stringify($json.errorBatch) : '[]' }}","options":{"timeout":15000}}},{"id":"enrich-run-end","name":"Complete Enrichment Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,304],"continueOnFail":true,"parameters":{"method":"PATCH","url":"={{ 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/enrichment_runs?id=eq.' + $('Aggregate for Supabase').first().json.runId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Authorization","value":"Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status: 'success', leads_processed: $('Aggregate for Supabase').first().json.stats.leadsProcessed, emails_found: $('Aggregate for Supabase').first().json.stats.emailsFound, hard_blocked: $('Aggregate for Supabase').first().json.stats.hardBlocked, sitemap_fallback_used: $('Aggregate for Supabase').first().json.stats.sitemapFallbackUsed, completed_at: new Date().toISOString()}) }}","options":{"timeout":10000}}},{"id":"enrich-r","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3820,304],"parameters":{"jsCode":"const agg = $('Aggregate for Supabase').first().json;\nreturn [{ json: { success: true, runId: agg.runId, leadsProcessed: agg.stats.leadsProcessed, emailsFound: agg.stats.emailsFound, hardBlocked: agg.stats.hardBlocked, sitemapFallbackUsed: agg.stats.sitemapFallbackUsed, errorsLogged: agg.errorBatch ? agg.errorBatch.length : 0, timestamp: new Date().toISOString() } }];"}},{"id":"enrich-prep-err","name":"Prepare Error Batch","type":"n8n-nodes-base.code","typeVersion":2,"position":[3420,304],"parameters":{"jsCode":"const agg = $('Aggregate for Supabase').first().json;\nconst errorBatch = (agg && agg.errorBatch) ? agg.errorBatch : [];\nreturn [{ json: { errorBatch, hasErrors: errorBatch.length > 0 } }];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Start Enrichment Run","type":"main","index":0}]]},"Start Enrichment Run":{"main":[[{"node":"Read Leads from Supabase","type":"main","index":0}]]},"Read Leads from Supabase":{"main":[[{"node":"Split Supabase Leads","type":"main","index":0}]]},"Split Supabase Leads":{"main":[[{"node":"Fetch Homepage UA1","type":"main","index":0}]]},"Fetch Homepage UA1":{"main":[[{"node":"Fetch Homepage UA2","type":"main","index":0}]]},"Fetch Homepage UA2":{"main":[[{"node":"Fetch Contact Page UA1","type":"main","index":0}]]},"Fetch Contact Page UA1":{"main":[[{"node":"Fetch Contact Page UA2","type":"main","index":0}]]},"Fetch Contact Page UA2":{"main":[[{"node":"Fetch About Page UA1","type":"main","index":0}]]},"Fetch About Page UA1":{"main":[[{"node":"Fetch About Page UA2","type":"main","index":0}]]},"Fetch About Page UA2":{"main":[[{"node":"Identify Sitemap Need","type":"main","index":0}]]},"Identify Sitemap Need":{"main":[[{"node":"Fetch Sitemap","type":"main","index":0}]]},"Fetch Sitemap":{"main":[[{"node":"Parse Sitemap","type":"main","index":0}]]},"Parse Sitemap":{"main":[[{"node":"Fetch Sitemap Page","type":"main","index":0}]]},"Fetch Sitemap Page":{"main":[[{"node":"Extract Contact Data","type":"main","index":0}]]},"Extract Contact Data":{"main":[[{"node":"Validate Email Domain","type":"main","index":0}]]},"Validate Email Domain":{"main":[[{"node":"Finalize","type":"main","index":0}]]},"Finalize":{"main":[[{"node":"Aggregate for Supabase","type":"main","index":0}]]},"Aggregate for Supabase":{"main":[[{"node":"Write Enrichment to Supabase","type":"main","index":0}]]},"Log Errors to Supabase":{"main":[[{"node":"Complete Enrichment Run","type":"main","index":0}]]},"Complete Enrichment Run":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Write Enrichment to Supabase":{"main":[[{"node":"Prepare Error Batch","type":"main","index":0}]]},"Prepare Error Batch":{"main":[[{"node":"Log Errors to Supabase","type":"main","index":0}]]}},"authors":"Samarth Kumar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-11T11:47:05.193Z","id":1474,"workflowId":"MW4tc2hZkrDCTxFJ","versionId":"89c7393c-dc9d-4a1a-b068-f42c36f5eaa2","event":"activated","userId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"},{"createdAt":"2026-05-11T11:47:05.143Z","id":1473,"workflowId":"MW4tc2hZkrDCTxFJ","versionId":"89c7393c-dc9d-4a1a-b068-f42c36f5eaa2","event":"deactivated","userId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"}]}}

