workflows/03_mee-combined.json
{"updatedAt":"2026-05-10T20:07:13.870Z","createdAt":"2026-05-07T13:00:46.365Z","id":"kqhuVRSHTyBP3c4x","name":"GE — Combined Run (Scrape + Enrich)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"combo-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"parameters":{"path":"mee-run","responseMode":"lastNode","httpMethod":"POST","options":{}},"webhookId":"2446c499-9277-4f12-bc96-ba5c8301a50f"},{"id":"combo-2","name":"Call Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,304],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"parameters":{"method":"POST","url":"https://YOUR_N8N_INSTANCE_URL/webhook/mee-scrape","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":120000}}},{"id":"combo-3","name":"Call Enrichment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,304],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"parameters":{"method":"POST","url":"https://YOUR_N8N_INSTANCE_URL/webhook/mee-enrich","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ place_ids: ($json.body || $json).place_ids || [] }) }}","options":{"timeout":180000}}},{"id":"combo-4","name":"Format Combined Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,304],"parameters":{"jsCode":"const scraperResp = $('Call Scraper').first().json;\nconst enrichResp = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    pipeline: 'scrape + enrich',\n    scraper: {\n      queriesRun: scraperResp.queriesRun,\n      queries: scraperResp.queries,\n      leadsFound: scraperResp.leadsFound,\n      countryCode: scraperResp.countryCode\n    },\n    enrichment: {\n      leadsProcessed: enrichResp.leadsProcessed,\n      emailsFound: enrichResp.emailsFound,\n      hardBlocked: enrichResp.hardBlocked,\n      sitemapFallbackUsed: enrichResp.sitemapFallbackUsed,\n      sitemapHelped: enrichResp.sitemapHelped\n    },\n    sheetId: scraperResp.sheetId,\n    tabName: scraperResp.tabName,\n    timestamp: new Date().toISOString()\n  }\n}];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Call Scraper","type":"main","index":0}]]},"Call Scraper":{"main":[[{"node":"Call Enrichment","type":"main","index":0}]]},"Call Enrichment":{"main":[[{"node":"Format Combined Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveManualExecutions":true,"executionTimeout":300,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"acd84d7b-6dc7-4dad-9d5d-5c2ab9ce0e3d","activeVersionId":"acd84d7b-6dc7-4dad-9d5d-5c2ab9ce0e3d","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-05-07T13:00:46.370Z","createdAt":"2026-05-07T13:00:46.370Z","role":"workflow:owner","workflowId":"kqhuVRSHTyBP3c4x","projectId":"6T2z9zDYCsuzyhA3","project":{"updatedAt":"2026-04-06T11:29:59.910Z","createdAt":"2026-04-06T11:27:47.569Z","id":"6T2z9zDYCsuzyhA3","name":"Samarth Kumar <samarth.kumar@oyelabs.com>","type":"personal","icon":null,"description":null,"creatorId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-10T20:07:13.872Z","createdAt":"2026-05-10T20:07:13.872Z","versionId":"acd84d7b-6dc7-4dad-9d5d-5c2ab9ce0e3d","workflowId":"kqhuVRSHTyBP3c4x","nodes":[{"id":"combo-1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"parameters":{"path":"mee-run","responseMode":"lastNode","httpMethod":"POST","options":{}},"webhookId":"2446c499-9277-4f12-bc96-ba5c8301a50f"},{"id":"combo-2","name":"Call Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,304],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"parameters":{"method":"POST","url":"https://YOUR_N8N_INSTANCE_URL/webhook/mee-scrape","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":120000}}},{"id":"combo-3","name":"Call Enrichment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,304],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"parameters":{"method":"POST","url":"https://YOUR_N8N_INSTANCE_URL/webhook/mee-enrich","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ place_ids: ($json.body || $json).place_ids || [] }) }}","options":{"timeout":180000}}},{"id":"combo-4","name":"Format Combined Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,304],"parameters":{"jsCode":"const scraperResp = $('Call Scraper').first().json;\nconst enrichResp = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    pipeline: 'scrape + enrich',\n    scraper: {\n      queriesRun: scraperResp.queriesRun,\n      queries: scraperResp.queries,\n      leadsFound: scraperResp.leadsFound,\n      countryCode: scraperResp.countryCode\n    },\n    enrichment: {\n      leadsProcessed: enrichResp.leadsProcessed,\n      emailsFound: enrichResp.emailsFound,\n      hardBlocked: enrichResp.hardBlocked,\n      sitemapFallbackUsed: enrichResp.sitemapFallbackUsed,\n      sitemapHelped: enrichResp.sitemapHelped\n    },\n    sheetId: scraperResp.sheetId,\n    tabName: scraperResp.tabName,\n    timestamp: new Date().toISOString()\n  }\n}];"}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Call Scraper","type":"main","index":0}]]},"Call Scraper":{"main":[[{"node":"Call Enrichment","type":"main","index":0}]]},"Call Enrichment":{"main":[[{"node":"Format Combined Response","type":"main","index":0}]]}},"authors":"Samarth Kumar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-10T20:07:13.975Z","id":1466,"workflowId":"kqhuVRSHTyBP3c4x","versionId":"acd84d7b-6dc7-4dad-9d5d-5c2ab9ce0e3d","event":"activated","userId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"},{"createdAt":"2026-05-10T20:07:13.943Z","id":1465,"workflowId":"kqhuVRSHTyBP3c4x","versionId":"acd84d7b-6dc7-4dad-9d5d-5c2ab9ce0e3d","event":"deactivated","userId":"2f270280-f2e7-4a5f-9af2-e6bdd38df066"}]}}
