workflows/04_mee-outreach.json
{
  "name": "MEE — LLM Outreach Generator",
  "nodes": [
    {
      "id": "out-01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "path": "mee-outreach",
        "responseMode": "responseNode",
        "httpMethod": "POST",
        "options": {}
      }
    },
    {
      "id": "out-02",
      "name": "Validate Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst profile_id = body.profile_id;\nconst place_ids = Array.isArray(body.place_ids) ? body.place_ids : [];\nconst channel = body.channel || 'email';\nconst tone = body.tone || 'professional';\n\nif (!profile_id) throw new Error('profile_id is required.');\n\nconst validChannels = ['email', 'linkedin', 'whatsapp'];\nconst validTones = ['professional', 'conversational', 'direct'];\nif (!validChannels.includes(channel)) throw new Error('channel must be: email, linkedin, or whatsapp');\nif (!validTones.includes(tone)) throw new Error('tone must be: professional, conversational, or direct');\n\nreturn [{ json: { profile_id, place_ids, channel, tone } }];"
      }
    },
    {
      "id": "out-03",
      "name": "Get Sender Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "url": "={{ 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/sender_profiles?id=eq.' + $('Validate Inputs').first().json.profile_id + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "YOUR_SUPABASE_PUBLISHABLE_KEY"},
            {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"}
          ]
        },
        "options": {"timeout": 10000}
      }
    },
    {
      "id": "out-04",
      "name": "Get Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "parameters": {
        "url": "={{ (function() { var params = $('Validate Inputs').first().json; var base = 'https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/leads_full?select=place_id,business_name,category,city,state,phone,website,google_rating,review_count,maps_description,email,website_phone,owner_name,linkedin_profiles,company_description,linkedin,facebook,instagram,twitter'; if (params.place_ids && params.place_ids.length > 0) { return base + '&place_id=in.(' + params.place_ids.join(',') + ')'; } return base + '&crawl_status=not.is.null&order=scraped_at.desc&limit=50'; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "YOUR_SUPABASE_PUBLISHABLE_KEY"},
            {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"}
          ]
        },
        "options": {"timeout": 30000}
      }
    },
    {
      "id": "out-05",
      "name": "Prepare Lead Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const params = $('Validate Inputs').first().json;\nconst profileData = $('Get Sender Profile').first().json;\nconst profileObj = Array.isArray(profileData) ? profileData[0] : profileData;\n\nif (!profileObj || !profileObj.id) {\n  throw new Error('Sender profile not found. Check that profile_id exists in the sender_profiles table.');\n}\n\n// n8n auto-splits Supabase array responses into individual items — use $input.all()\nconst leads = $input.all().map(function(item) { return item.json; });\n\nif (leads.length === 0) {\n  throw new Error('No leads found. Run scrape + enrich first, or check the place_ids provided.');\n}\n\nreturn leads.map(function(lead) {\n  return {\n    json: {\n      lead: lead,\n      profile: profileObj,\n      channel: params.channel,\n      tone: params.tone,\n      profile_id: params.profile_id\n    }\n  };\n});"
      }
    },
    {
      "id": "out-07",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "// runOnceForAllItems (default) — iterate all leads and build prompts\nreturn $input.all().map(function(inputItem) {\n  var item = inputItem.json;\n  var lead = item.lead;\n  var profile = item.profile;\n  var channel = item.channel;\n  var tone = item.tone;\n\n  var toneDesc = {\n    professional: 'formal, respectful, business-appropriate',\n    conversational: 'friendly, warm, approachable yet professional',\n    direct: 'concise, confident, gets to the point quickly'\n  };\n  var toneText = toneDesc[tone] || toneDesc.professional;\n\n  var channelGuide;\n  if (channel === 'linkedin') {\n    channelGuide = 'Generate LinkedIn outreach.\\nRules:\\n- subject_line: empty string \\\"\\\"\\n- message_body: LinkedIn message, max 1000 characters, ' + toneText + '\\n- linkedin_connection_note: connection request note, max 300 characters, human and casual';\n  } else if (channel === 'whatsapp') {\n    channelGuide = 'Generate a WhatsApp message.\\nRules:\\n- subject_line: empty string \\\"\\\"\\n- message_body: max 280 characters, ' + toneText + ', friendly and direct\\n- linkedin_connection_note: empty string \\\"\\\"';\n  } else {\n    channelGuide = 'Generate a cold email.\\nRules:\\n- subject_line: 6-10 words, specific to this business, not salesy\\n- message_body: 100-200 words, ' + toneText + '\\n- linkedin_connection_note: empty string \\\"\\\"';\n  }\n\n  var parts = [\n    'Business: ' + lead.business_name,\n    lead.category ? 'Type: ' + lead.category : null,\n    (lead.city || lead.state) ? 'Location: ' + [lead.city, lead.state].filter(Boolean).join(', ') : null,\n    lead.google_rating ? 'Google rating: ' + lead.google_rating + ' stars (' + (lead.review_count || 0) + ' reviews)' : null,\n    lead.maps_description ? 'About (Google): ' + String(lead.maps_description).slice(0, 300) : null,\n    lead.website ? 'Website: ' + lead.website : 'Website: none',\n    lead.email ? 'Email: ' + lead.email : null,\n    lead.website_phone ? 'Phone: ' + lead.website_phone : (lead.phone ? 'Phone (Google): ' + lead.phone : null),\n    lead.owner_name ? 'Owner/contact: ' + lead.owner_name : null,\n    lead.company_description ? 'Company: ' + String(lead.company_description).slice(0, 300) : null\n  ].filter(Boolean);\n\n  var leadContext = parts.join('\\n');\n  var systemPrompt = 'You are a B2B outreach specialist. Write personalized, genuine messages that sound human, not AI-generated spam. Focus on value for the prospect. Never make up facts. Respond only with valid JSON.';\n\n  var userPrompt = 'SENDER:\\n';\n  userPrompt += 'Name: ' + profile.owner_name + '\\n';\n  userPrompt += 'Company: ' + profile.company_name + '\\n';\n  userPrompt += 'What we do: ' + profile.service_description + '\\n';\n  if (profile.value_proposition) userPrompt += 'Why us: ' + profile.value_proposition + '\\n';\n  if (profile.target_industry) userPrompt += 'We focus on: ' + profile.target_industry + '\\n';\n  var INDUSTRY_PAIN_POINTS = {'property management':'chasing late rent, handling maintenance requests at odd hours, coordinating between owners and tenants, lease renewals, and tenant screening','property':'chasing late rent, handling maintenance requests, coordinating between property owners and tenants, and managing lease renewals','dental':'appointment no-shows, patient recall campaigns, insurance claim follow-ups, and attracting new patients','auto repair':'appointment scheduling gaps, service reminder follow-ups, estimate approvals, and keeping repeat customers coming back','restaurant':'reservation and walk-in management, online ordering setup, customer loyalty, and handling reviews','real estate':'slow lead follow-up, listing management, client communication volume, and scheduling showings','healthcare':'patient scheduling, appointment reminders, follow-up care coordination, and insurance verification','legal':'client intake bottlenecks, document collection, deadline tracking, and billing follow-ups','accounting':'chasing documents from clients, tax deadline reminders, year-round client communication, and new client onboarding','cleaning':'recurring booking management, staff scheduling, quality control follow-ups, and reducing customer churn','landscaping':'seasonal job scheduling, quote follow-ups, recurring service reminders, and crew coordination','salon':'appointment reminders, no-show reduction, rebooking follow-ups, and building client loyalty','fitness':'membership renewal reminders, class booking management, personal training follow-ups, and lead nurturing'};\n  if (profile.target_industry) { var ind = profile.target_industry.toLowerCase(); var painPoints = null; for (var key in INDUSTRY_PAIN_POINTS) { if (ind.indexOf(key) >= 0 || key.indexOf(ind) >= 0) { painPoints = INDUSTRY_PAIN_POINTS[key]; break; } } if (painPoints) userPrompt += 'Industry pain points (reference naturally if they fit): ' + painPoints + '\\n'; }\n  userPrompt += '\\nTARGET:\\n' + leadContext;\n  userPrompt += '\\n\\nTASK: ' + channelGuide;\n  userPrompt += '\\n\\nRULES:\\n- Use owner name if available, otherwise use \"Hi [Business Name] team\"\\n- Reference specific details naturally where relevant\\n- Avoid: \"I hope this finds you well\", \"I came across your business\", generic filler\\n- Sound like a real person reaching out, not a mass campaign';\n  userPrompt += '\\n\\nReturn ONLY this JSON (no markdown, no other text):\\n{\\n  \"subject_line\": \"\",\\n  \"message_body\": \"\",\\n  \"linkedin_connection_note\": \"\",\\n  \"personalization_score\": 3,\\n  \"personalization_notes\": \"\"\\n}';\n\n  return { json: { lead: lead, profile: profile, channel: channel, tone: tone, profile_id: item.profile_id, prompt: { system: systemPrompt, user: userPrompt } } };\n});"
      }
    },
    {
      "id": "out-08",
      "name": "Call Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'system', content: $json.prompt.system }, { role: 'user', content: $json.prompt.user }], response_format: { type: 'json_object' }, temperature: 0.7, max_tokens: 1200 }) }}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      }
    },
    {
      "id": "out-09",
      "name": "Parse & Build Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300],
      "parameters": {
        "jsCode": "// runOnceForAllItems — process all Groq responses, zip with Build LLM Prompt data by index\nvar allGroqResponses = $input.all();\nvar allBuildData = $('Build LLM Prompt').all();\n\nreturn allGroqResponses.map(function(groqItem, index) {\n  var groqResponse = groqItem.json;\n  var buildData = allBuildData[index] ? allBuildData[index].json : {};\n  var lead = buildData.lead || {};\n\n  var parsed = null;\n  var modelUsed = 'failed';\n\n  if (groqResponse.choices && groqResponse.choices[0] && groqResponse.choices[0].message) {\n    try {\n      parsed = JSON.parse(groqResponse.choices[0].message.content);\n      modelUsed = 'groq-llama3.3-70b';\n    } catch(e) {}\n  }\n\n  if (!parsed) {\n    parsed = {\n      subject_line: '',\n      message_body: '[Generation failed - check YOUR_GROQ_API_KEY and retry]',\n      linkedin_connection_note: '',\n      personalization_score: 1,\n      personalization_notes: 'LLM call failed'\n    };\n  }\n\n  parsed.subject_line = String(parsed.subject_line || '').slice(0, 200);\n  parsed.message_body = String(parsed.message_body || '').slice(0, 2000);\n  parsed.linkedin_connection_note = String(parsed.linkedin_connection_note || '').slice(0, 300);\n  parsed.personalization_score = Math.min(5, Math.max(1, parseInt(parsed.personalization_score) || 3));\n  parsed.personalization_notes = String(parsed.personalization_notes || '').slice(0, 500);\n\n  var whatsappLink = '';\n  if (buildData.channel === 'whatsapp') {\n    var phone = lead.website_phone || lead.phone || '';\n    var digits = phone.replace(/\\D/g, '');\n    if (digits.length >= 10) {\n      whatsappLink = 'https://wa.me/' + digits + '?text=' + encodeURIComponent(parsed.message_body);\n    }\n  }\n\n  return {\n    json: {\n      place_id: lead.place_id,\n      profile_id: buildData.profile_id,\n      channel: buildData.channel,\n      tone: buildData.tone,\n      subject_line: parsed.subject_line,\n      message_body: parsed.message_body,\n      linkedin_connection_note: parsed.linkedin_connection_note,\n      whatsapp_link: whatsappLink,\n      personalization_score: parsed.personalization_score,\n      personalization_notes: parsed.personalization_notes,\n      status: 'draft',\n      model_used: modelUsed,\n      _business_name: lead.business_name || '',\n      _website: lead.website || '',\n      _email: lead.email || '',\n      _linkedin: lead.linkedin || lead.linkedin_profiles || ''\n    }\n  };\n});"
      }
    },
    {
      "id": "out-10",
      "name": "Upsert Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/lead_outreach",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "YOUR_SUPABASE_PUBLISHABLE_KEY"},
            {"name": "Authorization", "value": "Bearer YOUR_SUPABASE_PUBLISHABLE_KEY"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "resolution=merge-duplicates,return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ place_id: $json.place_id, profile_id: $json.profile_id, channel: $json.channel, tone: $json.tone, subject_line: $json.subject_line, message_body: $json.message_body, linkedin_connection_note: $json.linkedin_connection_note, whatsapp_link: $json.whatsapp_link, personalization_score: $json.personalization_score, personalization_notes: $json.personalization_notes, status: $json.status, model_used: $json.model_used }) }}",
        "options": {"timeout": 10000}
      }
    },
    {
      "id": "out-12",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 300],
      "parameters": {
        "jsCode": "var allResults = $('Parse & Build Record').all().map(function(i) { return i.json; });\nvar successful = allResults.filter(function(r) { return r.model_used !== 'failed'; });\nvar failed = allResults.filter(function(r) { return r.model_used === 'failed'; });\n\nreturn [{\n  json: {\n    success: true,\n    total_processed: allResults.length,\n    messages_generated: successful.length,\n    failed_count: failed.length,\n    channel: allResults[0] ? allResults[0].channel : null,\n    tone: allResults[0] ? allResults[0].tone : null,\n    messages: allResults.map(function(r) {\n      return {\n        place_id: r.place_id,\n        business_name: r._business_name,\n        channel: r.channel,\n        personalization_score: r.personalization_score,\n        subject_line: r.subject_line,\n        message_body: r.message_body,\n        linkedin_connection_note: r.linkedin_connection_note,\n        whatsapp_link: r.whatsapp_link,\n        model_used: r.model_used,\n        email: r._email,\n        website: r._website,\n        linkedin: r._linkedin\n      };\n    })\n  }\n}];"
      }
    },
    {
      "id": "out-13",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2400, 300],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "out-email-split",
      "name": "Split Email Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 520],
      "disabled": true,
      "notes": "DORMANT — enable this + Gmail Send when ready to send. Splits the messages summary into one item per email lead.",
      "parameters": {
        "jsCode": "// [DORMANT] Splits outreach summary into one item per email lead\n// Enable this node + Gmail Send (Dormant) when ready to send\nvar data = $input.first().json;\nvar emailMessages = (data.messages || []).filter(function(m) {\n  return m.channel === 'email' && m.email && m.model_used !== 'failed';\n});\nreturn emailMessages.map(function(m) {\n  return {\n    json: {\n      to: m.email,\n      subject: m.subject_line || 'Following up from OyeLabs',\n      body: m.message_body,\n      business_name: m.business_name,\n      place_id: m.place_id\n    }\n  };\n});"
      }
    },
    {
      "id": "out-gmail-send",
      "name": "Gmail Send (Dormant)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2400, 520],
      "disabled": true,
      "notes": "DORMANT — configure Google OAuth2 credential, then enable this + Split Email Items to activate sending.",
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Validate Inputs", "type": "main", "index": 0}]]},
    "Validate Inputs": {"main": [[{"node": "Get Sender Profile", "type": "main", "index": 0}]]},
    "Get Sender Profile": {"main": [[{"node": "Get Leads", "type": "main", "index": 0}]]},
    "Get Leads": {"main": [[{"node": "Prepare Lead Items", "type": "main", "index": 0}]]},
    "Prepare Lead Items": {"main": [[{"node": "Build LLM Prompt", "type": "main", "index": 0}]]},
    "Build LLM Prompt": {"main": [[{"node": "Call Groq", "type": "main", "index": 0}]]},
    "Call Groq": {"main": [[{"node": "Parse & Build Record", "type": "main", "index": 0}]]},
    "Parse & Build Record": {"main": [[{"node": "Upsert Outreach", "type": "main", "index": 0}]]},
    "Upsert Outreach": {"main": [[{"node": "Collect Results", "type": "main", "index": 0}]]},
    "Collect Results": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}, {"node": "Split Email Items", "type": "main", "index": 0}]]},
    "Split Email Items": {"main": [[{"node": "Gmail Send (Dormant)", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  }
}


